.aboutMeContainer {
  @include mainContainer();
  margin-bottom: 9.6rem;
  background-color: $color2;
  padding: 2.4rem;

  border-radius: 2rem;

  @media (max-width: 90.06em) {
    width: 100rem;
  }

  @media (max-width: 75.06em) {
    width: 90rem;
  }

  @media (max-width: 64.12em) {
    width: 65rem;
  }

  @media (max-width: 48.12em) {
    width: 40rem;
    height: 75rem;
  }

  @media (max-width: 30.12em) {
    width: 28rem;
    height: 75rem;
  }

  .titleAboutMe {
    margin-bottom: 2rem;
    color: $color3;
  }

  .aboutMe-flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: 48.12em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .photo {
      width: 80rem;
      height: 25rem;
      border-radius: 2rem;

      background-image: url('../img/photoCortada.png');
      background-size: cover;
      background-position: center;

      @media (max-width: 64.12em) {
        width: 70rem;
        height: 15rem;
      }

      @media (max-width: 48.12em) {
        width: 20rem;
        height: 20rem;
        margin-bottom: 1.2rem;
      }

      @media (max-width: 30.12em) {
        width: 17rem;
        height: 17rem;
      }
    }

    .text-Img_Container {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      position: relative;

      @media (max-width: 48.12em) {
        margin-left: 0;
        align-items: center;
        text-align: justify;
      }

      .textAboutMe h2 {
        font-size: 3rem;
        margin-bottom: 1.2rem;

        @media (max-width: 64.12em) {
          font-size: 2.4rem;
        }

        @media (max-width: 48.12em) {
          font-size: 2rem;
        }

        @media (max-width: 30.12em) {
          font-size: 1.8rem;
        }
      }

      .textAboutMe {
        width: 76%;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
        justify-self: center;

        @media (max-width: 64.12em) {
          font-size: 1.6rem;
        }

        @media (max-width: 30.12em) {
          font-size: 1.4rem;
        }
      }

      .img-about img {
        width: 35%;
        position: absolute;
        left: 67rem;
        top: 15rem;

        @media (max-width: 90.06em) {
          left: 45rem;
          top: 25rem;
        }

        @media (max-width: 90em) {
          left: 52rem;
          top: 25rem;
        }

        @media (max-width: 70em) {
          left: 48rem;
          top: 25rem;
        }

        @media (max-width: 64.12em) {
          width: 27%;
          left: 35rem;
          top: 30rem;
        }

        @media (max-width: 48.12em) {
          left: 26rem;
          top: 38rem;
        }

        @media (max-width: 30.12em) {
          left: 18rem;
          top: 45rem;
        }
      }
    }
  }
}
