.ctaContainer {
  @include mainContainer;
  background-color: $color4;
  border-radius: 2rem;
  height: 60rem;
  margin-bottom: 9.6rem;
  padding-right: 0;
  overflow: hidden;
  align-items: center;

  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2.6rem;

  @media (max-width: 90.06em) {
    width: 96rem;
  }

  @media (max-width: 64.12em) {
    width: 70rem;
  }

  @media (max-width: 48.12em) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    width: 43rem;
    height: 90rem;
    padding-left: 0;
  }

  @media (max-width: 30.12em) {
    width: 28rem;
    height: 85rem;
  }

  .cta-box {
    display: flex;
    flex-direction: column;

    h3 {
      color: white;
      font-size: 3rem;
      padding: 2rem;
      text-align: center;

      @media (max-width: 64.12em) {
        font-size: 2.4rem;
      }

      @media (max-width: 30.12em) {
        font-size: 2rem;
      }
    }

    .cta-form {
      display: flex;
      flex-direction: column;

      @media (max-width: 48.12em) {
        padding-left: 2.4rem;
      }

      @media (max-width: 30.12em) {
        padding-left: 1.2rem;
      }

      label {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 64.12em) {
          font-size: 1.8rem;
        }

        @media (max-width: 30.12em) {
          font-size: 1.4rem;
        }
      }

      input {
        margin-bottom: 1rem;
        height: 3rem;
        width: 40rem;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.6rem;
        border: none;

        @media (max-width: 64.12em) {
          font-size: 1.4rem;
        }

        @media (max-width: 48.12em) {
          width: 30rem;
        }

        @media (max-width: 30.12em) {
          width: 25rem;
        }
      }

      #email,
      #nome {
        margin-bottom: 2rem;
      }

      #caixaTexto {
        margin-bottom: 1.2rem;
        padding: 1.2rem;
        height: 26rem;
        font-size: 1.8rem;
        font-family: inherit;
        border-radius: 2rem;

        @media (max-width: 48.12em) {
          width: 38rem;
        }

        @media (max-width: 30.12em) {
          width: 25rem;
        }
      }

      .btn {
        width: 10rem;
        padding: 1rem;
        border: none;
        background-color: $primary-color;
        border-radius: 1rem;

        font-size: 1.6rem;
        color: white;

        @media (max-width: 48.12em) {
          margin-bottom: 1.2rem;
        }
      }

      .btn:hover {
        background-color: $color2;
        color: $color7;
      }
    }
  }

  .cta-img-box {
    height: 100%;
    background-image: url('../img/notebook-img-unsplash.jpg');
    background-size: cover;
    background-position: center;

    @media (max-width: 48.12em) {
      grid-row: 1;
      background-size: cover;
      background-position: center;

      width: 100%;
    }
  }
}
