.footerContainer {
  @include mainContainer();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 6.4rem;

  .logoFooter {
    width: 30rem;

    img {
      width: 100%;
    }
  }

  .contact ul {
    display: flex;
    flex-direction: row;
    gap: 2.6rem;
    list-style: none;
    justify-content: center;
    margin-top: -55px;

    a:link,
    a:visited {
      font-size: 2rem;
      text-decoration: none;
      color: $primary-color;
    }

    a:hover,
    a:active {
      color: $color3;
      text-decoration: underline;
    }

    .footer-icon {
      font-size: 2rem;
      color: $primary-color;
    }
  }

  .copyRicardo {
    margin-top: -25px;
  }
}
