.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;

  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  // MENU
  .menuContainer {
    width: 40%;
    margin-left: 4.8rem;
    align-self: center;

    .menu__nav--list {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    .menu__nav--link a:link,
    .menu__nav--link a:visited {
      text-decoration: none;
      font-size: 1.8rem;
      color: $primary-color;

      @media (max-width: 1200px) {
        font-size: 1.6rem;
      }

      @media (max-width: 950px) {
        font-size: 1.4rem;
      }
    }

    .menu__nav--link a:hover,
    .menu__nav--link a:active {
      color: $color4;
      text-decoration: underline;
    }
  }

  // REDES SOCIAIS
  .language-redesSociaisContainer {
    display: flex;
    margin-right: 8rem;
    align-items: baseline;
    justify-content: space-between;
    width: 15rem;

    .language {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .usaFlag img,
      .brFlag img {
        width: 2rem;

        @media (max-width: 1200px) {
          width: 1.8rem;
        }

        @media (max-width: 950px) {
          width: 1.6rem;
        }
      }
    }

    .redeSociais__nav-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      gap: 1rem;
    }

    .redeSociais__nav--link a:link,
    .redeSociais__nav--link a:visited {
      color: $primary-color;
      font-size: 2rem;

      @media (max-width: 1200px) {
        font-size: 1.8rem;
      }

      @media (max-width: 950px) {
        width: 1.6rem;
      }
    }

    .redeSociais__nav--link a:hover,
    .redeSociais__nav--link a:active {
      color: $color4;
    }
  }
}

.ativo {
  box-shadow: 0px 1px 5px -1px rgba(255, 97, 0, 0.29);
}
