.heroContainer {
  @include mainContainer();
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 88vh;
  margin-top: 4rem;
  margin-bottom: 9.6rem;

  @media (max-width: 48.12em) {
    flex-direction: column;
  }

  .logo img {
    height: 50rem;

    @media (max-width: 90.06em) {
      width: 40rem;
    }

    @media (max-width: 64.12em) {
      width: 25rem;
    }

    @media (max-width: 48.12em) {
      width: 20rem;
      justify-content: space-evenly;
    }

    @media (max-width: 30.12em) {
      width: 17rem;
      justify-content: space-between;
    }
  }

  .textHero {
    width: 55%;

    @media (max-width: 48.12em) {
      width: 90%;
    }

    .titleHero {
      font-size: 5.5rem;
      margin-bottom: 1.6rem;
      text-align: center;

      @media (max-width: 90.06em) {
        font-size: 4rem;
      }

      @media (max-width: 64.12em) {
        font-size: 3rem;
      }

      @media (max-width: 48.12em) {
        font-size: 2.4rem;
      }

      @media (max-width: 30.12em) {
        font-size: 2.2rem;
      }
    }

    .paragrafoHero {
      font-size: 2.3rem;
      line-height: 2.6rem;
      text-align: justify;

      @media (max-width: 90.06em) {
        font-size: 1.8rem;
      }

      @media (max-width: 64.12em) {
        font-size: 1.6rem;
      }

      @media (max-width: 30.12em) {
        font-size: 1.4rem;
      }
    }
  }
}
