.heroContainer {
  @include mainContainer();
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 88vh;
  margin-top: 4rem;
  margin-bottom: 9.6rem;

  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    height: 50rem;
    margin-right: 2rem;

    @media (max-width: 1200px) {
      height: 43rem;
    }

    @media (max-width: 1050px) {
      height: 40rem;
    }

    @media (max-width: 950px) {
      height: 30rem;
    }

    @media (max-width: 550px) {
      height: 20rem;
      margin: 0;
    }

    @media (max-width: 400px) {
      height: 16rem;
      margin-top: 3rem;
    }

    @media (max-width: 350px) {
      margin-top: 8rem;
    }
  }

  .textHero {
    width: 75%;

    @media (max-width: 1350px) {
      width: 70%;
      margin-right: 30px;
    }

    @media (max-width: 750px) {
      margin-right: 0;
    }

    .titleHero {
      font-size: 4.5rem;
      margin-bottom: 1.6rem;
      text-align: center;
      color: $color8;

      @media (max-width: 1200px) {
        font-size: 4rem;
      }

      @media (max-width: 1050px) {
        font-size: 3.6rem;
      }

      @media (max-width: 950px) {
        font-size: 3rem;
      }

      @media (max-width: 550px) {
        font-size: 2.4rem;
      }

      @media (max-width: 400px) {
        font-size: 2rem;
      }
    }

    .paragrafoHero {
      font-size: 2.3rem;
      line-height: 2.6rem;
      text-align: justify;

      @media (max-width: 1200px) {
        font-size: 2rem;
      }

      @media (max-width: 1050px) {
        font-size: 1.8rem;
      }

      @media (max-width: 950px) {
        font-size: 1.7rem;
      }

      @media (max-width: 550px) {
        font-size: 1.6rem;
      }
    }
  }
}
