.heroContainer {
  @include mainContainer();
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 88vh;
  margin-top: 4rem;
  margin-bottom: 9.6rem;

  .logo img {
    height: 50rem;

    @media (max-width: 1301px) {
      height: 45rem;
    }
  }

  .textHero {
    width: 55%;

    @media (max-width: 1201px) {
      width: 50%;
      margin-right: 2.5rem;
    }

    .titleHero {
      font-size: 5.5rem;
      margin-bottom: 1.6rem;
      text-align: center;

      @media (max-width: 1301px) {
        font-size: 4.5rem;
      }
    }

    .paragrafoHero {
      font-size: 2.3rem;
      line-height: 2.6rem;
      text-align: justify;

      @media (max-width: 1301px) {
        font-size: 2rem;
      }
    }
  }
}
