.knowledgeContainer {
  background-color: $color7;
  height: 40rem;
  margin-bottom: 9.6rem;
  padding-top: 3.2rem;
  margin-top: 20rem;

  @media (max-width: 1400px) {
    height: 350px;
  }

  @media (max-width: 1200px) {
    height: 330px;
  }

  @media (max-width: 950px) {
    height: 300px;
  }

  @media (max-width: 800px) {
    height: 250px;
  }

  @media (max-width: 750px) {
    height: 420px;
  }

  .titleKnowledge {
    margin-bottom: 6.4rem;
    color: $color6;

    @media (max-width: 800px) {
      margin-bottom: 6rem;
    }

    @media (max-width: 750px) {
      margin-bottom: 4rem;
    }
  }

  .knowledge__logos-container {
    display: flex;
    justify-content: center;
    gap: 8rem;

    @media (max-width: 1200px) {
      gap: 6rem;
    }

    @media (max-width: 1050px) {
      gap: 5rem;
    }

    @media (max-width: 850px) {
      gap: 4rem;
    }

    @media (max-width: 750px) {
      column-gap: 8rem;
      row-gap: 4rem;
      flex-wrap: wrap;
    }

    .html-constainerLogo,
    .css_sass-constainerLogo,
    .javascript-constainerLogo,
    .typescript-constainerLogo,
    .react-constainerLogo,
    .git-constainerLogo {
      @include flex-colunm;

      .knowledgeLogo {
        height: 15rem;
        width: 15rem;
        border-radius: 1rem;
        margin-bottom: 1.2rem;

        @media (max-width: 1400px) {
          height: 13rem;
          width: 13rem;
        }

        @media (max-width: 1250px) {
          height: 12rem;
          width: 12rem;
        }

        @media (max-width: 1200px) {
          height: 11rem;
          width: 11rem;
        }

        @media (max-width: 950px) {
          height: 9rem;
          width: 9rem;
        }

        @media (max-width: 800px) {
          height: 8rem;
          width: 8rem;
        }

        @media (max-width: 750px) {
          height: 9rem;
          width: 9rem;
        }
      }

      .nameHability {
        font-size: 2rem;
        color: $color6;

        @media (max-width: 950px) {
          font-size: 1.8rem;
        }

        @media (max-width: 800px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}
