.projectsContainer {
  @include mainContainer();
  margin-bottom: 9.6rem;
  padding: 2rem;
  background-color: $color5;
  border-radius: 2rem;
}

.primaryTitle {
  margin-bottom: 6rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: $color5;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab--1:hover,
.operations__tab--2:hover,
.operations__tab--3:hover,
.operations__tab--4:hover {
  color: $color2;
}

.operations__tab--active {
  color: $primary-color;
  font-weight: bold;
}

.operations__content {
  display: none;
}

.operations__content--active {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  @media (max-width: 1201px) {
    gap: 2.5rem;
  }

  .card {
    background-color: $color5;

    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    padding-bottom: 1.2rem;

    position: relative;
    top: 0;

    width: 40rem;
    height: 45rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 37px -15px rgba(0, 0, 0, 0.8);

    @media (max-width: 1401px) {
      width: 35rem;
    }

    @media (max-width: 1201px) {
      width: 30rem;
    }

    .img {
      border: 1px solid $color2;
      border-radius: 2rem 2rem 0 0;
      overflow: hidden;

      img {
        max-width: 100%;
        height: 20rem;
      }
    }

    .links-text_container {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 0 0 2rem 2rem;

      h3 {
        color: black;
        font-size: 2.4rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .linksContainer {
        align-self: center;
        justify-self: center;
        width: 30rem;
        height: 3rem;
        margin-bottom: 1.8rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0.5rem;

        .icon {
          justify-self: center;
          font-size: 2rem;
          color: black;
        }

        .ver-codigo_icon {
          font-size: 2.2rem;
          --ionicon-stroke-width: 40px;
        }

        .link-visit_site {
          grid-column: 1/2;
          grid-row: 2/3;
        }

        .link-visit_site:link,
        .link-visit_site:visited,
        .link-ver_codigo:link,
        .link-ver_codigo:visited {
          justify-self: center;
          text-decoration: none;
          font-size: 1.6rem;
          color: black;
        }

        .link-visit_site:hover,
        .link-visit_site:active,
        .link-ver_codigo:hover,
        .link-ver_codigo:active {
          color: $primary-color;
          font-weight: 700;
          font-size: 1.8rem;
          text-decoration: underline;
          transition: all 0.1s;
        }
      }

      .textSite {
        font-size: 1.8rem;
        padding: 2rem;
        padding-bottom: 2rem;
        line-height: 1.2;
        height: 15rem;
        overflow-y: auto;
      }

      .textSite::-webkit-scrollbar {
        width: 0.6rem;
      }

      .textSite::-webkit-scrollbar-track {
        background: $color6;
      }

      .textSite::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 20px;
      }
    }
  }

  .card:hover {
    top: -7px;
    box-shadow: 10px 10px 37px -15px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
  }
}
