.projectsContainer {
  @include mainContainer();
  margin-bottom: 9.6rem;
  padding: 2rem;
}

.primaryTitle {
  margin-bottom: 6rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: $color6;

  @media (max-width: 1000px) {
    font-size: 1.8rem;
  }

  @media (max-width: 550px) {
    font-size: 1.6rem;
  }
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;

  @media (max-width: 750px) {
    gap: 1rem;
  }

  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab--1:hover,
.operations__tab--2:hover,
.operations__tab--3:hover,
.operations__tab--4:hover {
  color: $color2;
}

.operations__tab--active {
  color: $primary-color;
  font-weight: bold;
}

.operations__content {
  display: none;
}

.operations__content--active {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  @media (max-width: 1200px) {
    gap: 2.5rem;
  }

  @media (max-width: 750px) {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    padding-bottom: 1.2rem;

    position: relative;
    top: 0;

    width: 30rem;

    border-radius: 2rem;
    box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.251);

    @media (max-width: 1400px) {
      width: 35rem;
    }

    @media (max-width: 1200px) {
      width: 30rem;
    }

    @media (max-width: 550px) {
      width: 27rem;
    }

    .img {
      border-radius: 2rem 2rem 0 0;
      overflow: hidden;

      img {
        max-width: 100%;
        height: 15rem;
        margin-left: 4rem;
      }
    }

    .links-text_container {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 0 0 2rem 2rem;

      h3 {
        color: $color8;
        font-size: 2rem;
        text-align: start;
        margin: 2rem 0 1.2rem 1.2rem;

        @media (max-width: 550px) {
          font-size: 1.8rem;
        }
      }

      p {
        font-size: 1.6rem;
        margin: 0 1rem 1.6rem 1.2rem;
        color: $color9;

        @media (max-width: 550px) {
          font-size: 1.4rem;
        }
      }

      .linksContainer {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        width: 30rem;
        height: 3rem;
        margin-bottom: 1.8rem;

        @media (max-width: 550px) {
          width: 27rem;
        }

        .icon-text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .icon {
          font-size: 1.6rem;
          color: black;
        }

        .link-visit_site:link,
        .link-visit_site:visited,
        .link-ver_codigo:link,
        .link-ver_codigo:visited {
          justify-self: center;
          text-decoration: none;
          font-size: 1.4rem;
          color: black;
        }

        .link-visit_site:hover,
        .link-visit_site:active,
        .link-ver_codigo:hover,
        .link-ver_codigo:active {
          color: $primary-color;
          font-weight: 700;
          text-decoration: underline;
          transition: all 0.1s;
        }
      }

      .textSite {
        font-size: 1.8rem;
        padding: 2rem;
        padding-bottom: 2rem;
        line-height: 1.2;
        height: 15rem;
        overflow-y: auto;
      }

      .textSite::-webkit-scrollbar {
        width: 0.6rem;
      }

      .textSite::-webkit-scrollbar-track {
        background: $color6;
      }

      .textSite::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 20px;
      }
    }
  }
}

// MODAL
.link-ver_mais {
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: black;
  margin-top: -0.2rem;
  background-color: white;
}

.link-ver_mais:hover {
  cursor: pointer;
  color: $primary-color;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  .content-modal {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    @media (max-width: 384px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 512px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 896px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .text-content-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      #site-link-modal a {
        text-decoration: none;
        color: $color9;
        font-size: 1.8rem;

        @media (max-width: 384px) {
          font-size: 1.6rem;
          text-align: center;
        }
      }

      #site-link-modal a:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    h1 {
      font-family: inherit;
      font-size: 2.6rem;
      margin-bottom: 1.2rem;
      color: $primary-color;
      text-align: center;
    }

    p {
      font-family: inherit;
      font-size: 2rem;
      color: $color3;
      text-align: left;

      @media (max-width: 320px) {
        font-size: 1.6rem;
        text-align: center;
      }
    }

    img {
      height: 40rem;

      @media (max-width: 384px) {
        height: 15rem;
      }

      @media (max-width: 512px) {
        height: 20rem;
      }

      @media (max-width: 640px) {
        height: 30rem;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}
