$primary-color: #ff6100;
$color2: #ffa066;
$color3: #4c1d00;
$color4: #803100;
$color5: rgba(250, 235, 215, 0.197);
$color6: #fff;
$color7: #3f3d56;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $color3;
}

.thanksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  img {
    width: 45rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 4.6rem;
    margin-bottom: 1.2rem;
    margin-top: -10rem;
  }

  p {
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
    font-size: 2rem;
    color: $primary-color;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: $color5;
    font-size: 2.2rem;
    transition: all 0.2s;
  }
}
