* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #4c1d00;
  position: relative;
}

.primaryTitle {
  font-size: 2.6rem;
  color: #ff6100;
  text-align: center;
}
@media (max-width: 48.12em) {
  .primaryTitle {
    font-size: 1.8rem;
  }
}
@media (max-width: 30.12em) {
  .primaryTitle {
    font-size: 1.6rem;
  }
}

.line {
  border: 0.3px solid rgba(250, 235, 215, 0.197);
}

.copyRicardo {
  margin-top: 2rem;
  color: #4c1d00;
  font-size: 1.8rem;
}

.colorSpan {
  color: #ff6100;
}

/* 
TINTS AND SHADES
#fefcdd

- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
.header .menuContainer {
  width: 40%;
  margin-left: 4.8rem;
  align-self: center;
}
.header .menuContainer .menu__nav--list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header .menuContainer .menu__nav--link a:link,
.header .menuContainer .menu__nav--link a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ff6100;
}
@media (max-width: 1200px) {
  .header .menuContainer .menu__nav--link a:link,
  .header .menuContainer .menu__nav--link a:visited {
    font-size: 1.6rem;
  }
}
.header .menuContainer .menu__nav--link a:hover,
.header .menuContainer .menu__nav--link a:active {
  color: #803100;
  text-decoration: underline;
}
.header .language-redesSociaisContainer {
  display: flex;
  margin-right: 8rem;
  align-items: baseline;
  justify-content: space-between;
  width: 15rem;
}
.header .language-redesSociaisContainer .language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.header .language-redesSociaisContainer .language .usaFlag img,
.header .language-redesSociaisContainer .language .brFlag img {
  width: 2rem;
}
@media (max-width: 1200px) {
  .header .language-redesSociaisContainer .language .usaFlag img,
  .header .language-redesSociaisContainer .language .brFlag img {
    width: 1.8rem;
  }
}
.header .language-redesSociaisContainer .redeSociais__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}
.header .language-redesSociaisContainer .redeSociais__nav--link a:link,
.header .language-redesSociaisContainer .redeSociais__nav--link a:visited {
  color: #ff6100;
  font-size: 2rem;
}
@media (max-width: 1200px) {
  .header .language-redesSociaisContainer .redeSociais__nav--link a:link,
  .header .language-redesSociaisContainer .redeSociais__nav--link a:visited {
    font-size: 1.8rem;
  }
}
.header .language-redesSociaisContainer .redeSociais__nav--link a:hover,
.header .language-redesSociaisContainer .redeSociais__nav--link a:active {
  color: #803100;
}

.ativo {
  box-shadow: 0px 1px 5px -1px rgba(255, 97, 0, 0.29);
}

.heroContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 88vh;
  margin-top: 4rem;
  margin-bottom: 9.6rem;
}
.heroContainer .logo img {
  height: 50rem;
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  .heroContainer .logo img {
    height: 43rem;
  }
}
.heroContainer .textHero {
  width: 75%;
}
@media (max-width: 1350px) {
  .heroContainer .textHero {
    width: 70%;
    margin-right: 30px;
  }
}
.heroContainer .textHero .titleHero {
  font-size: 4.5rem;
  margin-bottom: 1.6rem;
  text-align: center;
  color: #222;
}
@media (max-width: 1200px) {
  .heroContainer .textHero .titleHero {
    font-size: 4rem;
  }
}
.heroContainer .textHero .paragrafoHero {
  font-size: 2.3rem;
  line-height: 2.6rem;
  text-align: justify;
}
@media (max-width: 1200px) {
  .heroContainer .textHero .paragrafoHero {
    font-size: 2rem;
  }
}

.aboutMeContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  background-color: #ffa066;
  padding: 2.4rem;
  border-radius: 2rem;
}
@media (max-width: 1300px) {
  .aboutMeContainer {
    width: 120rem;
  }
}
@media (max-width: 1250px) {
  .aboutMeContainer {
    width: 115rem;
  }
}
@media (max-width: 1050px) {
  .aboutMeContainer {
    width: 90rem;
  }
}
.aboutMeContainer .titleAboutMe {
  margin-bottom: 2rem;
  color: #222;
}
.aboutMeContainer .aboutMe-flex {
  display: flex;
  justify-content: space-between;
}
.aboutMeContainer .aboutMe-flex .photo {
  width: 80rem;
  height: 25rem;
  border-radius: 2rem;
  background-image: url("../img/photoCortada.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1201px) {
  .aboutMeContainer .aboutMe-flex .photo {
    width: 75rem;
    height: 20rem;
  }
}
.aboutMeContainer .aboutMe-flex .text-Img_Container {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.aboutMeContainer .aboutMe-flex .text-Img_Container .textAboutMe h2 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  color: #222;
}
@media (max-width: 1201px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .textAboutMe h2 {
    font-size: 2.6rem;
  }
}
.aboutMeContainer .aboutMe-flex .text-Img_Container .textAboutMe {
  width: 75%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  justify-self: center;
  color: #222;
}
@media (max-width: 1201px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .textAboutMe {
    font-size: 1.8rem;
  }
}
.aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
  width: 35%;
  position: absolute;
  left: 75rem;
  top: 15rem;
}
@media (max-width: 1400px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
    width: 25%;
    left: 77rem;
    top: 8rem;
  }
}
@media (max-width: 1350px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
    width: 25%;
    left: 77rem;
    top: 8rem;
  }
}
@media (max-width: 1300px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
    width: 25%;
    left: 71rem;
    top: 10rem;
  }
}
@media (max-width: 1250px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
    width: 25%;
    left: 68rem;
    top: 10rem;
  }
}
@media (max-width: 1200px) {
  .aboutMeContainer .aboutMe-flex .text-Img_Container .img-about img {
    width: 25%;
    left: 68rem;
    top: 6rem;
  }
}

.projectsContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  padding: 2rem;
}

.primaryTitle {
  margin-bottom: 6rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab--1:hover,
.operations__tab--2:hover,
.operations__tab--3:hover,
.operations__tab--4:hover {
  color: #ffa066;
}

.operations__tab--active {
  color: #ff6100;
  font-weight: bold;
}

.operations__content {
  display: none;
}

.operations__content--active {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
@media (max-width: 1201px) {
  .operations__content--active {
    gap: 2.5rem;
  }
}
.operations__content--active .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  padding-bottom: 1.2rem;
  position: relative;
  top: 0;
  width: 30rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.251);
}
@media (max-width: 1401px) {
  .operations__content--active .card {
    width: 35rem;
  }
}
@media (max-width: 1201px) {
  .operations__content--active .card {
    width: 30rem;
  }
}
.operations__content--active .card .img {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}
.operations__content--active .card .img img {
  max-width: 100%;
  height: 15rem;
}
.operations__content--active .card .links-text_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
}
.operations__content--active .card .links-text_container h3 {
  color: #222;
  font-size: 2rem;
  text-align: start;
  margin: 2rem 0 1.2rem 1.2rem;
}
.operations__content--active .card .links-text_container p {
  font-size: 1.6rem;
  margin: 0 1rem 1.6rem 1.2rem;
  color: rgba(34, 34, 34, 0.7490196078);
}
.operations__content--active .card .links-text_container .linksContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 30rem;
  height: 3rem;
  margin-bottom: 1.8rem;
}
.operations__content--active .card .links-text_container .linksContainer .icon-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operations__content--active .card .links-text_container .linksContainer .icon {
  font-size: 1.6rem;
  color: black;
}
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:link,
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:visited,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:link,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:visited {
  justify-self: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:hover,
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:active,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:hover,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:active {
  color: #ff6100;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s;
}
.operations__content--active .card .links-text_container .textSite {
  font-size: 1.8rem;
  padding: 2rem;
  padding-bottom: 2rem;
  line-height: 1.2;
  height: 15rem;
  overflow-y: auto;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar {
  width: 0.6rem;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar-track {
  background: #fff;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar-thumb {
  background-color: #ff6100;
  border-radius: 20px;
}

.link-ver_mais {
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: black;
  margin-top: -0.2rem;
  background-color: white;
}

.link-ver_mais:hover {
  cursor: pointer;
  color: #ff6100;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s;
}

.modal {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h1 {
  font-family: inherit;
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
  color: #ff6100;
}
.modal p {
  font-family: inherit;
  font-size: 1.8rem;
  color: #4c1d00;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.knowledgeContainer {
  background-color: #3f3d56;
  height: 40rem;
  margin-bottom: 9.6rem;
  padding-top: 3.2rem;
  margin-top: 20rem;
}
@media (max-width: 1400px) {
  .knowledgeContainer {
    height: 350px;
  }
}
.knowledgeContainer .titleKnowledge {
  margin-bottom: 6.4rem;
  color: #fff;
}
.knowledgeContainer .knowledge__logos-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
@media (max-width: 1200px) {
  .knowledgeContainer .knowledge__logos-container {
    gap: 6rem;
  }
}
.knowledgeContainer .knowledge__logos-container .html-constainerLogo,
.knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo,
.knowledgeContainer .knowledge__logos-container .javascript-constainerLogo,
.knowledgeContainer .knowledge__logos-container .typescript-constainerLogo,
.knowledgeContainer .knowledge__logos-container .react-constainerLogo,
.knowledgeContainer .knowledge__logos-container .git-constainerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.knowledgeContainer .knowledge__logos-container .html-constainerLogo .knowledgeLogo,
.knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo .knowledgeLogo,
.knowledgeContainer .knowledge__logos-container .javascript-constainerLogo .knowledgeLogo,
.knowledgeContainer .knowledge__logos-container .typescript-constainerLogo .knowledgeLogo,
.knowledgeContainer .knowledge__logos-container .react-constainerLogo .knowledgeLogo,
.knowledgeContainer .knowledge__logos-container .git-constainerLogo .knowledgeLogo {
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 1400px) {
  .knowledgeContainer .knowledge__logos-container .html-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .javascript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .typescript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .react-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .git-constainerLogo .knowledgeLogo {
    height: 13rem;
    width: 13rem;
  }
}
@media (max-width: 1250px) {
  .knowledgeContainer .knowledge__logos-container .html-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .javascript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .typescript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .react-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .git-constainerLogo .knowledgeLogo {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 1200px) {
  .knowledgeContainer .knowledge__logos-container .html-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .javascript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .typescript-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .react-constainerLogo .knowledgeLogo,
  .knowledgeContainer .knowledge__logos-container .git-constainerLogo .knowledgeLogo {
    height: 11rem;
    width: 11rem;
  }
}
.knowledgeContainer .knowledge__logos-container .html-constainerLogo .nameHability,
.knowledgeContainer .knowledge__logos-container .css_sass-constainerLogo .nameHability,
.knowledgeContainer .knowledge__logos-container .javascript-constainerLogo .nameHability,
.knowledgeContainer .knowledge__logos-container .typescript-constainerLogo .nameHability,
.knowledgeContainer .knowledge__logos-container .react-constainerLogo .nameHability,
.knowledgeContainer .knowledge__logos-container .git-constainerLogo .nameHability {
  font-size: 2rem;
  color: #fff;
}

.projectsContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  padding: 2rem;
}

.primaryTitle {
  margin-bottom: 6rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab--1:hover,
.operations__tab--2:hover,
.operations__tab--3:hover,
.operations__tab--4:hover {
  color: #ffa066;
}

.operations__tab--active {
  color: #ff6100;
  font-weight: bold;
}

.operations__content {
  display: none;
}

.operations__content--active {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
@media (max-width: 1201px) {
  .operations__content--active {
    gap: 2.5rem;
  }
}
.operations__content--active .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  padding-bottom: 1.2rem;
  position: relative;
  top: 0;
  width: 30rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.251);
}
@media (max-width: 1401px) {
  .operations__content--active .card {
    width: 35rem;
  }
}
@media (max-width: 1201px) {
  .operations__content--active .card {
    width: 30rem;
  }
}
.operations__content--active .card .img {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}
.operations__content--active .card .img img {
  max-width: 100%;
  height: 15rem;
}
.operations__content--active .card .links-text_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
}
.operations__content--active .card .links-text_container h3 {
  color: #222;
  font-size: 2rem;
  text-align: start;
  margin: 2rem 0 1.2rem 1.2rem;
}
.operations__content--active .card .links-text_container p {
  font-size: 1.6rem;
  margin: 0 1rem 1.6rem 1.2rem;
  color: rgba(34, 34, 34, 0.7490196078);
}
.operations__content--active .card .links-text_container .linksContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 30rem;
  height: 3rem;
  margin-bottom: 1.8rem;
}
.operations__content--active .card .links-text_container .linksContainer .icon-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operations__content--active .card .links-text_container .linksContainer .icon {
  font-size: 1.6rem;
  color: black;
}
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:link,
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:visited,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:link,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:visited {
  justify-self: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:hover,
.operations__content--active .card .links-text_container .linksContainer .link-visit_site:active,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:hover,
.operations__content--active .card .links-text_container .linksContainer .link-ver_codigo:active {
  color: #ff6100;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s;
}
.operations__content--active .card .links-text_container .textSite {
  font-size: 1.8rem;
  padding: 2rem;
  padding-bottom: 2rem;
  line-height: 1.2;
  height: 15rem;
  overflow-y: auto;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar {
  width: 0.6rem;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar-track {
  background: #fff;
}
.operations__content--active .card .links-text_container .textSite::-webkit-scrollbar-thumb {
  background-color: #ff6100;
  border-radius: 20px;
}

.link-ver_mais {
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: black;
  margin-top: -0.2rem;
  background-color: white;
}

.link-ver_mais:hover {
  cursor: pointer;
  color: #ff6100;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s;
}

.modal {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h1 {
  font-family: inherit;
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
  color: #ff6100;
}
.modal p {
  font-family: inherit;
  font-size: 1.8rem;
  color: #4c1d00;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.ctaContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: #803100;
  border-radius: 2rem;
  height: 60rem;
  margin-bottom: 9.6rem;
  padding-right: 0;
  overflow: hidden;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  -moz-column-gap: 2.6rem;
       column-gap: 2.6rem;
}
@media (max-width: 1401px) {
  .ctaContainer {
    width: 120rem;
  }
}
@media (max-width: 1301px) {
  .ctaContainer {
    width: 110rem;
  }
}
@media (max-width: 1201px) {
  .ctaContainer {
    width: 100rem;
  }
}
.ctaContainer .cta-box {
  display: flex;
  flex-direction: column;
}
.ctaContainer .cta-box h3 {
  color: white;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}
.ctaContainer .cta-box .cta-form {
  display: flex;
  flex-direction: column;
}
.ctaContainer .cta-box .cta-form label {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.ctaContainer .cta-box .cta-form input {
  margin-bottom: 1rem;
  height: 3rem;
  width: 40rem;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
}
.ctaContainer .cta-box .cta-form #email,
.ctaContainer .cta-box .cta-form #nome {
  margin-bottom: 2rem;
}
.ctaContainer .cta-box .cta-form #caixaTexto {
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  height: 26rem;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 2rem;
}
.ctaContainer .cta-box .cta-form .btn {
  width: 10rem;
  padding: 1rem;
  border: none;
  background-color: #ff6100;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: white;
}
.ctaContainer .cta-box .cta-form .btn:hover {
  background-color: #ffa066;
  color: #3f3d56;
}
.ctaContainer .cta-img-box {
  height: 100%;
  background-image: url("../img/notebook-img-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.footerContainer {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 6.4rem;
}
.footerContainer .logoFooter {
  width: 30rem;
}
.footerContainer .logoFooter img {
  width: 100%;
}
.footerContainer .contact ul {
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  list-style: none;
  justify-content: center;
  margin-top: -55px;
}
.footerContainer .contact ul a:link,
.footerContainer .contact ul a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #ff6100;
}
.footerContainer .contact ul a:hover,
.footerContainer .contact ul a:active {
  color: #4c1d00;
  text-decoration: underline;
}
.footerContainer .contact ul .footer-icon {
  font-size: 2rem;
  color: #ff6100;
}
.footerContainer .copyRicardo {
  margin-top: -25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #4c1d00;
}

.thanksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.thanksContainer img {
  width: 45rem;
  margin-bottom: 5rem;
}
.thanksContainer h1 {
  font-size: 4.6rem;
  margin-bottom: 1.2rem;
  margin-top: -10rem;
}
.thanksContainer p {
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.thanksContainer a:link,
.thanksContainer a:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #ff6100;
  text-decoration: underline;
}
.thanksContainer a:hover,
.thanksContainer a:active {
  color: rgba(250, 235, 215, 0.197);
  font-size: 2.2rem;
  transition: all 0.2s;
}/*# sourceMappingURL=main.css.map */